body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

#container {
    background-image: url("/resources/images/background.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: #ffc107;
    width: 150px;
    height: 50px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    border: 2px solid white;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.button:hover {
    background-color: #ffc107;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
}

.choosed,
.choosed_mode {
    background-color: rgb(245, 24, 24);
    color: black;
}

#button_normal,
#button_medium,
#button_hard,
#one_person,
#two_person,
#button_back,
#button_play {
    margin: 20px;
}

#title h2 {
    color: white;
    font-size: 150px;
    margin: 0;
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
        -4px -4px 8px rgba(0, 0, 0, 0.5);
    /* Viền bên phải và dưới */
}


#choose_map h2,
#choose_mode h2 {
    color: white;
    font-size: 60px;
    margin: 0;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5),
        -4px -4px 8px rgba(0, 0, 0, 0.5);
}

#control {
    margin-top: 50px;
}