body {
    margin: 0;
    /* Remove default body margin */
}

#container {
    background-image: url("/resources/images/background.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}

#title {
    margin-bottom: 20px;

    h2 {
        color: aliceblue;
        font-family: 'Courier New', Courier, monospace;
        font-size: 150px;
        margin: 0;
    }
}